.button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $c-secondary;
  border: 1px solid $c-secondary;
  color: $c-white;
  border-radius: 25px;
  min-height: 50px;
  min-width: 100px;
  transition: $t-slow;
  &:hover{
    background-color: $c-white;
    color: $c-secondary;
  }
  &--ghost{
    background-color: $c-white;
    color: $c-secondary;
    &:hover{
      background-color: $c-secondary;
      color: $c-white ;
    }
  }
}
