//contains with max width
.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: $screen-lg;
  padding-left: $s-md;
  padding-right: $s-md;
  transition: padding-left $t-normal ease;
  &--fluid{
    max-width: 100%;
  }
}
