.product {
  &__item {
    position: relative;
    background-color: $c-white;
    min-width: 258px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 15px;
    margin: 0 10px;
    order: 1;
    &.is-favorite {
      order: 0;
    }
    @include desktop() {
      min-width: auto;
      width: 206px;
      height: 245px;
      margin: 10px;

      &.is-favorite {
        width: 437px;
        height: 510px;
        grid-column: auto / span 2;
        grid-row: auto / span 2;
      }
    }
  }
  &__start {
    display: none;
    position: absolute;
    left: 0;
    background: $c-green-light;
    color: $c-white;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    top: 20px;
    padding: 10px 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  &__img {
    padding-bottom: 50px;
    @include desktop() {
      padding: 0;
      height: 80%;
      display: block;
      margin: 0 auto;
      img {
        object-fit: contain;
        object-position: center;
        height: 100%;
      }
    }
  }
  &__name,
  &__pricing span {
    color: $c-green-darkest;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
  }
  &__pricing {
    span {
      color: #257556;
    }
  }
  &__info {
    position: relative;
  }

  &__aditional-info {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__info-sun {
    margin: 0 10px;
    i.high,
    i.low {
      font-size: 0;
      &::before {
        content: url("/images/icons/low-sun.svg");
      }
    }
    i.no {
      &::before {
        content: url("/images/icons/no-sun.svg");
      }
    }
  }
  &__info-toxicity {//of our city, of our city
    i.false {
      &::before {
        content: url("/images/icons/pet.svg");
      }
    }
    i.true {
      &::before {
        content: url("/images/icons/toxic.svg");
      }
    }
  }
  &__info-water {
    i.daily {
      &::before {
        content: url("/images/icons/3-drops.svg");
      }
    }
    i.regularly {
      &::before {
        content: url("/images/icons/2-drops.svg");
      }
    }
    i.rarely {
      &::before {
        content: url("/images/icons/1-drop.svg");
      }
    }
  }
}
