<section class="steps">
  <div class="container">
    <div class="steps__body">
      <div class="steps__box">
        <i><img src="/images/illustrations/sun.png" alt="sol" /></i>
        <h2><b>1.</b> Set the amount of <strong>sunlight</strong> your plant will get.</h2>
        <ul class="steps__list steps__list--sunlight">
          <li class="steps__item active">Select...</li>
        </ul>
      </div>
      <div class="steps__box steps__box--middle">
        <i><img src="/images/illustrations/wateringcan.png" alt="" /></i>
        <h2><b>2. </b>How often do you want to <strong>water</strong> your plant?</h2>
        <ul class="steps__list steps__list--sunlight">
          <li class="steps__item active">Select...</li>
        </ul>
      </div>
      <div class="steps__box">
        <i><img src="/images/illustrations/dog.png" alt="" /></i>
        <h2><b>3. </b> Do you have pets? Do they <strong>chew </strong>plants? </h2>
        <ul class="steps__list steps__list--sunlight">
          <li class="steps__item active">Select...</li>
        </ul>
      </div>
    </div>
  </div>
</section>
