<section class="steps">
  <div class="container">
    <form class="steps__body">
      <fieldset>
        <div class="steps__box">
          <i><img src="/images/illustrations/sun.png" alt="sol" /></i>
          <h2><b>1.</b> Set the amount of <strong>sunlight</strong> your plant will get.</h2>
          <ul class="steps__list steps__list--sunlight">
            <li class="steps__item active">
              <button class="js-open-list">Select...</button>
            </li>
            <li class="steps__item" aria-hidden="true">
              <label for="no">No</label>
              <input  type="radio" name='type' value="no" id="no" />
            </li>
            <li class="steps__item" aria-hidden="true">
              <label for="low">low</label>
              <input  type="radio" name='type' value="low" id="low" />
            </li>
            <li class="steps__item" aria-hidden="true">
              <label for="high">high</label>
              <input  type="radio" name='type' value="high" id="high" name="high" />
            </li>
          </ul>
        </div>
        <div class="steps__box steps__box--middle">
          <i><img src="/images/illustrations/wateringcan.png" alt="" /></i>
          <h2><b>2. </b>How often do you want to <strong>water</strong> your plant?</h2>
          <ul class="steps__list steps__list--wateringcan">
            <li class="steps__item active">
              <button class="js-open-list">Select...</button>
            </li>
            <li class="steps__item" aria-hidden="true">
              <label for="regularly">regularly</label>
              <input type="radio" name='type' value="regularly" id="regularly" />
            </li>
            <li class="steps__item" aria-hidden="true">
              <label for="daily">daily</label>
              <input type="radio" name='type' value="daily" id="daily" />
            </li>
            <li class="steps__item" aria-hidden="true">
              <label for="rarely">rarely</label>
              <input type="radio" name='type' value="rarely" id="rarely" />
            </li>
          </ul>
        </div>
        <div class="steps__box">
          <i><img src="/images/illustrations/dog.png" alt="" /></i>
          <h2><b>3. </b> Do you have pets? Do they <strong>chew </strong>plants? </h2>
          <ul class="steps__list steps__list--dog">
            <li class="steps__item active">
              <button class="js-open-list">Select...</button>
            </li>
            <li class="steps__item" aria-hidden="true">
              <label for="yes">yes</label>
              <input type="radio" name='type' value="true" id="true" />
            </li>
            <li class="steps__item" aria-hidden="true">
              <label for="no">No</label>
              <input type="radio" name='type' value="false" id="false" />
            </li>

          </ul>
        </div>
      </fieldset>
    </form>
  </div>
</section>
