<section class="bannertv">
  <div class="bannertv__body">
    <div class="bannertv__images">
      <div  class="bannertv__primary-image"  >
        <img src="./images/hero/mobile/mobile-leaves.png" alt="folhas" />
        <div class="bannertv__text">
          <div class="container">
            <h1>Find your next green friend</h1>
            <icon alt="seta para baixo" src="./images/icons/arrow-down.svg" class="icon"></icon>

          </div>
        </div>
      </div>

      <img src="./images/hero/mobile/mobile-plantperson.png" class="bannertv__secondary-image" alt="pessoa com uma planta" />
    </div>

  </div>
</section>
