.button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: $c-green-dark;
  border: 1px solid $c-green-dark;
  border-radius: 25px;
  box-sizing: border-box;
  color: $c-white;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  transition: 0.3s;
  padding: 10px 20px;
  i.arrow{
    margin-right: 10px;
    &::before{
      content: url('/images/icons/arrow-up-white.svg');
    }
  }
  &:hover{
    background-color: $c-white;
    i.arrow{
      &::before{
        content: url('/images/icons/arrow-up.svg');
      }
    }
  }
  &--ghost{
    background-color: transparent;
    color: $c-green-dark;
    i.arrow{
      &::before{
        content: url('/images/icons/arrow-up.svg');
      }
    }
    &:hover{
      background-color: $c-green-dark;
      color: $c-white ;
      i.arrow{
        &::before{
          content: url('/images/icons/arrow-up-white.svg');
        }
      }
    }
  }
  &--full{
    width: 100%;
  }
}
