$desktop-width: 1024px;
$mobile-width: 1023px;
$desktop-full-hd-width: 1337;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin full-hd {
  @media (min-width: #{$desktop-full-hd-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
